asgiref==3.8.1 ; python_version >= "3.8"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
cachecontrol==0.14.0 ; python_version >= "3.8"
cachetools==5.3.3 ; python_version >= "3.8"
certifi==2024.2.2 ; python_version >= "3.8"
cffi==1.16.0 ; python_version >= "3.8"
charset-normalizer==3.3.2 ; python_version >= "3.8"
cryptography==42.0.5 ; python_version >= "3.8"
django==4.2.11 ; python_version >= "3.8"
djangorestframework==3.15.1 ; python_version >= "3.8"
firebase-admin==6.5.0 ; python_version >= "3.8"
google-api-core==2.18.0 ; python_version >= "3.8"
google-api-core[grpc]==2.18.0 ; python_version >= "3.8"
google-api-python-client==2.127.0 ; python_version >= "3.8"
google-auth-httplib2==0.2.0 ; python_version >= "3.8"
google-auth==2.29.0 ; python_version >= "3.8"
google-cloud-core==2.4.1 ; python_version >= "3.8"
google-cloud-firestore==2.16.0 ; python_version >= "3.8"
google-cloud-storage==2.16.0 ; python_version >= "3.8"
google-crc32c==1.5.0 ; python_version >= "3.8"
google-resumable-media==2.7.0 ; python_version >= "3.8"
googleapis-common-protos==1.63.0 ; python_version >= "3.8"
grpcio-status==1.62.2 ; python_version >= "3.8"
grpcio==1.62.2 ; python_version >= "3.8"
gunicorn==22.0.0 ; python_version >= "3.8"
httplib2==0.22.0 ; python_version >= "3.8"
idna==3.7 ; python_version >= "3.8"
msgpack==1.0.8 ; python_version >= "3.8"
packaging==24.0 ; python_version >= "3.8"
pillow==10.3.0 ; python_version >= "3.8"
proto-plus==1.23.0 ; python_version >= "3.8"
protobuf==4.25.3 ; python_version >= "3.8"
pyasn1-modules==0.4.0 ; python_version >= "3.8"
pyasn1==0.6.0 ; python_version >= "3.8"
pycparser==2.22 ; python_version >= "3.8"
pyjwt[crypto]==2.8.0 ; python_version >= "3.8"
pyparsing==3.1.2 ; python_version >= "3.8"
python-decouple==3.8 ; python_version >= "3.8"
requests==2.31.0 ; python_version >= "3.8"
rsa==4.9 ; python_version >= "3.8"
sqlparse==0.5.0 ; python_version >= "3.8"
typing-extensions==4.11.0 ; python_version >= "3.8" and python_version < "3.11"
tzdata==2024.1 ; python_version >= "3.8"
uritemplate==4.1.1 ; python_version >= "3.8"
urllib3==2.2.1 ; python_version >= "3.8"
